<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" type="text/css" href="css/style.css" />
        <script src="js/external/vue.global.js"></script>
        <script src="js/external/vuex.global.js"></script>
        <script src="js/external/vuex-persistedstate.js"></script>
        <script src="js/external/axios.js"></script>
        <title>Product</title>
    </head>
    <body>
        <main>
            <navmenu></navmenu>
            <h1>{{product.name}}</h1>
            <table>
                <thead>
                </thead>
                <tbody>
                    <tr>
                        <td class="product-description">Id:</td>
                        <td>{{product.productId}}</td>
                    </tr>
                    <tr>
                        <td class="product-description">Description:</td>
                        <td>{{product.description}}</td>
                    </tr>
                    <tr>
                        <td class="product-description">Price:</td>
                        <td>{{product.listPrice}}</td>
                    </tr>
                    <tr>
                        <td class="product-description">Quantity Available:</td>
                        <td>{{product.quantityInStock}}</td>
                </tbody>
            </table>

            <form @submit.prevent="addToCart()">
                <label for="quantity">Quantity:</label>
                <input type="number" v-model="quantity" :max="product.quantityInStock" min="1" step="1">
                <button type="submit" v-if="product.quantityInStock > 0">Add to Cart</button>
            </form>
            <div v-if="product.quantityInStock === 0" class="out-of-stock-message">
                This product is currently out of stock.
            </div>
        </main>
        <script type="module" src="js/cart.js"></script>
    </body>
</html>
