<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" type="text/css" href="css/style.css" />
        <script src="js/external/vue.global.js"></script>
        <script src="js/external/vuex.global.js"></script>
        <script src="js/external/vuex-persistedstate.js"></script>
        <script src="js/external/axios.js"></script>
        <title>Sign Up</title>
    </head>
    <body>
        <main>
            <navmenu></navmenu>
            <h1>Create New Account</h1>

            <fieldset>

                <legend>Customer Details</legend>

                <form @submit.prevent="createCustomer()">

                    <label>Username:</label><input type="text" v-model="customer.username" required/>
                    <label>First Name:</label><input type="text" v-model="customer.firstName"/>
                    <label>Last Name:</label><input type="text" v-model="customer.surname"/>
                    <label>Email:</label><input type="text" v-model="customer.emailAddress"/>
                    <label>Address:</label><textarea type="text" v-model="customer.shippingAddress"></textarea>
                    <label>Password:</label><input type="password" v-model="customer.password" required/>
                    <button type="submit">Create Account</button>

                </form>

            </fieldset>

            <p><a href="index.html">Back to Home</a></p>

        </main>
        <script type="module" src="js/sign-up.js"></script>
    </body>
</html>
