<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" type="text/css" href="css/style.css" />
        <script src="js/external/vue.global.js"></script>
        <script src="js/external/vuex.global.js"></script>
        <script src="js/external/vuex-persistedstate.js"></script>
        <script src="js/external/axios.js"></script>
        <title>Products</title>
    </head>
    <body>
        <main>
            <navmenu></navmenu>
            <h1>Products</h1>
            <div class="categories">
                <!-- 
                <a href="view-products.jsp?category=All"><button>All</button></a>
                <a href="view-products.jsp?category=<%= category%>"><button><%= category%></button></a>
                -->
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Stock</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <%
                        // get the category from the query parameter
                        String selectedCategory = request.getParameter("category");

                        // declare the products collection
                        Collection<Product> products;

                        // if there is no cateogory parameter, or "All" is requested, return all students
                        if (selectedCategory == null || selectedCategory.equals("All")) {
                            products = dao.getProducts();
                        } else {
                            // otherwise, get the students for the requested major
                            products = dao.filterByCategory(selectedCategory);
                        }

                        for (Product product : products) {
                    %>
                    <tr>
                        <td><%= product.getName()%></td>
                        <td><%= product.getDescription()%></td>
                        <td><%= product.getListPrice()%></td>
                        <td><%= product.getQuantityInStock()%></td>
                        <td><button>Buy</button></td>
                    </tr>
                    <%
                        }
                    %>
                </tbody>
            </table>

            <p><a class="nav" href="index.jsp">Back to Home</a></p>

        </main>
        <script type="module" src="js/view-products.js"></script>
    </body>
</html>
